.carousel {
    width: 80%;
    height: 70%;
    background-color: whitesmoke;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 16fr 1fr;
    position: absolute;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

.show {
    z-index: 10;
}

.carousel > img {
    height: 40%;
    border-radius: 50%;
}

.carousel > div {
    padding: 5%;
}

.carousel > div > p {
    text-align: left;
}

.carousel > div h1,h5  {
    text-align: right;
    padding: 2%;
    margin: 0;
}